@page "/fetchlogs"
@using CommonLibrary.Logging
@using CommonLibrary.Core
@inject IRepository<LogHandle> _handlesRepository
@using Syncfusion.Blazor.Grids
<PageTitle>Fetch Logs</PageTitle>

<h1>Log handles</h1>

<p>Log handles list from database, select to see log messages.</p>

@if (_handles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <SfButton CssClass="my-4" @onclick="(async () => await GetLogsData())">Refresh</SfButton>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <SfGrid ID="LogHandleGrid" EnablePersistence="true" DataSource="@_handles" AllowSorting="true" AllowReordering="true" AllowTextWrap="true">
                    <GridColumns>
                        <GridColumn Field=@nameof(LogHandle.Id) HeaderText="ID" Width="180"></GridColumn>
                        <GridColumn Field=@nameof(LogHandle.ObjectId) HeaderText="Object ID" Width="180"></GridColumn>
                        <GridColumn Field=@nameof(LogHandle.ObjectType) HeaderText="Object Type" Width="40"></GridColumn>
                        <GridColumn Field=@nameof(LogHandle.Descriptor) HeaderText="Descriptor" TextAlign="TextAlign.Justify" Width="120"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                <SfGrid ID="LogMessageGrid" EnablePersistence="true" DataSource="@_messages" AllowSorting="true" AllowReordering="true" AllowTextWrap="true">
                    <GridColumns>
                        <GridColumn Field=@nameof(LogMessage.CreationDate) Format="dd/MM/yyyy H:mm:ss" Type="ColumnType.Date" HeaderText="ID" Width="60"></GridColumn>
                        <GridColumn Field=@nameof(LogMessage.Severity) HeaderText="Severity" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(LogMessage.Descriptor) HeaderText="Descriptor" TextAlign="TextAlign.Justify"></GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
    
    <br>
    
}




@code {
    string selectedRowClasse(Guid logHandleId)
        => _messages.First().LogHandleId == logHandleId ? "border-danger table-hover" : "";
}