@page "/counter"
<PageTitle>Counter</PageTitle>

<p>Current count: @CounterState.Value.ClickCount</p>
<button @onclick="IncrementCount"></button>

<style>
    .e-panel-header {
        background-color: rgba(0, 0, 0, .1);
        text-align: center;
    }
    .e-panel-content {
        text-align: center;
        margin-top: 10px;
    }
</style>